<div class="navbar-container">
    {{>navbar}}
</div>
<div>
    {{#if usuario}}
        <div class="card" style="width: 18rem;">
            <img src={{usuario.photo}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{usuario.firstName}} {{usuario.lastName}}</h5>
                <p class="card-text">E mail: {{usuario.email}}</p>
                <p class="card-text">Username: {{usuario.username}}</p>
                <p class="card-text">Password: {{usuario.password}}</p>
                <p class="card-text">Address: {{usuario.direction}}</p>
                <p class="card-text">Age: {{usuario.age}}</p>
                <p class="card-text">Phone: {{usuario.phone}}</p>
            </div>
        </div>
    {{else}}
            <p>Aún no hay datos cargados</p>
    {{/if}}
</div>