<div style="display:flex">
 {{#if productos}}
            {{#each productos}}
                <div class="card" style="width: 18rem;">
                    <img src={{this.foto}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.nombre}}</h5>
                        <p class="card-text">Precio: {{this.precio}}</p>
                        <p class="card-text">Stock: {{this.stock}}</p>
                        <form action="/carrito/{{usuario._id}}/productos" method="POST">
                            <button class="btn btn-primary">Add to cart</button>
                        </form>
                        
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p>No hay productos cargados</p>
        {{/if}}
   
</div>
